/* Reset */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  background: #f0f2f3;

  font-family: "Source Sans Pro";
}

li {
  position: relative;
}

svg#menu {
  fill: #616161;
  transition: 0.3s ease-in-out;
}

svg#menu:hover {
  fill: #000;
}

.container {
  padding: 1.5rem;
  width: 80vw;
  max-width: 800px;
  margin: 5rem auto 0;

  display: grid;
  gap: 50px;
  align-items: center;
  justify-items: center;
}
/* Header */

#page-header {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 8px 0;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
}

#page-header h1 {
  margin-left: 30px;

  display: flex;
  align-items: center;
}

/* Navbar */

.hide {
  visibility: hidden;
  opacity: 0;
}

#page-header nav {
  margin: 0 auto;
  padding: 0 30px;
  width: 85%;

  display: flex;
  justify-content: space-between;
}

#page-header nav ul {
  display: flex;

  align-items: center;
  justify-items: center;
}

#page-header nav a {
  color: rgba(61, 61, 61, 0.7);
  transition: 0.1s ease-in-out;
}

#page-header nav a:hover {
  color: rgba(61, 61, 61, 1);
}

#sections li {
  display: inline-block;
  padding-bottom: 3px;
}

#sections li::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;

  position: absolute;
  top: 2.2rem;
  right: 0;
  left: 0;
}

#sections li:hover:after {
  width: 100%;
  background: black;
}

#sections li + li {
  margin-left: 40px;
}

#social-links {
  margin-right: 30px;
}

#social-links li + li {
  margin-left: 30px;
}

#social-links svg {
  fill: #616161;
  transition: 0.3s ease-in-out;
}

#social-links svg:hover {
  fill: #000;
}

hr {
  width: 100%;
  height: 0.1px;
  background-color: #616161;
}

/* Main */

h1 {
  text-align: center;
}

h1 span {
  font-size: 48px;
  font-weight: 300;
  color: #2d2d2d;
}

#download-brackets {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 12px;
}

#download-button {
  background-color: #2098f5;
  border-radius: 3px;
  padding: 1rem;
  transition: 0.32s;

  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

#download-button:hover {
  background-color: #0a7cd4;
}

#other-downloads {
  color: #2098f5;
}

/* Responsivity */

@media (max-width: 890px) {
  #page-header {
    align-content: space-between;
    justify-content: space-between;
  }

  #open-menu {
    margin-right: 2rem;
  }

  #page-header nav {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    padding: 15px 0;

    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    font-size: 0.75rem;
  }

  #page-header nav hr {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  #social-links {
    grid-row: 3;
  }

  #page-header nav ul {
    margin: 0 15px;
  }

  #sections li::after {
    display: none;
  }
}

@media (min-width: 891px) {
  .hide {
    visibility: visible;
    opacity: 1;
  }

  #open-menu {
    display: none;
  }

  nav hr {
    display: none;
  }
}
