/* Reset */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  background: #f0f2f3;

  font-family: "Source Sans Pro";
}

li {
  position: relative;
}

div.x-line {
  width: 0;
  height: 2px;
  background: #000;
  transition: 0.5s ease-in-out;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 2.2rem;
}

.container {
  padding: 1.5rem;
  width: 80vw;
  max-width: 800px;
  margin: 5rem auto 0;

  display: grid;
  gap: 50px;
  align-items: center;
  justify-items: center;
}
/* Header */

#page-header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  width: 100%;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
}

#page-header #brackets-logo {
  font-size: 1.2em;
  font-weight: bold;
}

#page-header nav {
  padding: 0 30px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

#page-header nav ul {
  display: flex;

  align-items: center;
  justify-items: center;
}

#page-header nav a {
  color: rgba(61, 61, 61, 0.7);
  transition: 0.1s ease-in-out;
}

#page-header nav a:hover {
  color: rgba(61, 61, 61, 1);
}

#page-header nav #sections li + li,
#page-header nav #social-links li + li {
  margin-left: 40px;
}

/* Main */

h1 {
  text-align: center;
}

h1 span {
  font-size: 48px;
  font-weight: 300;
  color: #2d2d2d;
}

#download-brackets {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 12px;
}

#download-button {
  background-color: #2098f5;
  border-radius: 3px;
  padding: 1rem;
  transition: .32s;

  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

#download-button:hover {
  background-color: #0a7cd4;
}

#other-downloads {
  color: #2098f5;
}

/* Responsivity */

@media (max-width: 890px) {

  #page-header {
    align-content: space-between;
    justify-content: space-between;
  }

  #open-menu {
    margin-right: 2rem;
  }

  #page-header nav {
    display: none;
  }

  h1 span {
    font-size: 36px;
  }
}

@media (min-width: 891px) {
  #open-menu {
    display: none;
  }
}